html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*~reset css*/



/*Master*/
#top-row {background:white;position:fixed;z-index:100;width: 1024px;height:100px;box-shadow: 1px 1px 10px gray;top:0;border-bottom: 1px solid gray;} 

#content-row {padding-top:1px;margin-top:0px;background:#eee;height: 100%;} 

#bottom-row {color:#ddd;background:white;width: 1024px;position:fixed;bottom:0px;border-top: 2px solid gray;box-shadow: 2px 0px 10px gray;}

#content-row {margin: 84px 0 0 0;background-color: white;box-shadow: 1px 1px 10px gray;} 
 
html, body { height: 100%; overflow-y: auto; background-color: rgba(128, 128, 128, 0.07);}

#wrapper {width: 1024px;margin: auto;}

#bottom-row, .push { height: 130px; } 

#twitter_form{
    float: left; margin: auto; width: 70px; height: 110px; background: url('/Content/images/twitter_logo.svg') no-repeat center center; 
    -moz-background-size: 50px 50px;
    -o-background-size:50px 50px;
    -webkit-background-size:50px 50px;
    background-size:50px 50px;
    border-right:1px solid gray;
    position:relative;
    z-index:7;
}
#mail_form{
   float: left; margin: auto; width: 70px; height: 110px; background: url('/Content/images/contact_us.png') no-repeat center center; 
    -moz-background-size: 50px 50px;
    -o-background-size:50px 50px;
    -webkit-background-size:50px 50px;
    background-size:50px 50px;
    border-left:1px solid gray;
    position:relative;
    z-index:7;
}
#open_twitter_form
{
    height:400px;background:rgb(0, 122, 204);position:absolute;bottom:130px;width:400px;display:none;opacity:0.9;
}
#open_mail_form
{
    height:400px;background:rgb(0, 122, 204);position:absolute;bottom:130px;width:400px;display:none;margin-left: 624px;
}
/*~Master*/


/*Footer menu*/
.dock {
	position: relative; 
	height: 50px; 
	text-align: center;
    float:left;
    width: 880px;
    height: 110px;
    z-index:7;
    margin-top: 30px;
}
.dock-container {
	position: absolute;
	height: 50px;
	padding-left: 20px;
}
a.dock-item 
{
	display: block;
	width: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 11px Arial, Helvetica, sans-serif;
}
.dock-item img 
{
	border: none; 
	margin: 5px 10px -16px; 
	width: 100%; 
}
.dock-item span 
{
	display: none; 
	padding-left: 20px;
}
/*~Footer menu*/


.mouse_hover:hover{
   background-color:rgba(128, 128, 128, 0.07);
   box-shadow:1px 1px 10px gray;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
}
#twitter_form:hover {
     background-color:rgba(128, 128, 128, 0.07);
     box-shadow:1px 1px 10px gray;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
       -ms-transition: all 0.2s ease-in-out;
}

#mail_form:hover {
     background-color:rgba(128, 128, 128, 0.07);
     box-shadow:1px 1px 10px gray;
      -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
}
.twitter {
    width:380px;
    margin-left:10px;
    margin-top:10px;
    box-shadow: 1px 1px 60px gray;
}
    .twtr-tweet-text {
        font-size:15px;
    }
.twitter twtr-hd {
     font-size:18px;
}

.twtr-widget twtr-widget-profile {
    font-size:18px;
}