@{
    ViewBag.Title = "About_Us";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

<style>
    .info {
        font-size: 18px;
        font-family: Georgia,serif;
        font-weight: bold;
        margin-bottom: 6px;
        color: #395B75;
    }

    .links {
       
        margin-left:7px;
        margin-top:13px;
    }

    #about_us {
        height: 50%;
        background: url('/Content/images/contentImage.gif');
        position: absolute;
    }

        #about_us .content {
            height: 25%;
            position: absolute;
            top: 18%;
           
        }
    #toggle_map {
        background: url('/Content/images/GoogleMap.png') center center;
        background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 39px;          /* make this the size of your image */
    width:40px;
    right: 27px;
    top: 45px;
    /*padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
    position:absolute;
    z-index: 99;
    }
</style>

<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>


<div id="about_us" style="position:relative">

    @*<div id="toggle_map" style="position: absolute; right: 100px; width: 60px; height: 60px; cursor: pointer; z-index: 99; background: url('/Content/images/GoogleMap.png') center center; -moz-background-size: 40px 40px; -o-background-size: 40px 40px; -webkit-background-size: 40px 40px; background-size: 40px 40px; background-repeat: no-repeat;">
 
    </div>*@
    
       <input type="button"  id="toggle_map"/>
       

   <div id="map_container" style="width: 1024px;overflow:hidden;z-index:-999;height:0px;">
        <div id="map" style="width: 1024px;height:400px;position: fixed;overflow: hidden;">
        </div>
    </div>

    <div class="content" style="width: 20%; left:8%;">
     
        <table style="line-height: 1.2em; text-align: left">

            <tr>
                <td>
                    <p class="info">Address</p>
                </td>
            </tr>
            <tr>
                <td>Ul. 4-ti Juli 1/2/2</td>
            </tr>
            <tr>
                <td>1000 Skopje</td>
            </tr>
            <tr>
                <td>R.Macedonia</td>
            </tr>

        </table>
        <table style="line-height: 1.2em; text-align: left">
            <tr>
                <td>
                    <p class="info" style="margin-top: 10px;">
                    <p class="info" >Contact</p>
                    </p>
                </td>
            </tr>
            <tr>
                <td>tomislav.shestakov@ilogic.mk</td>
                <td><a href="skype:tomikrama?add">
                    <img src="/Content/images/about_us/skype1.png" style="border: none; width: 16px; height: 16px; margin-left: 8px;" /></a></td>
            </tr>
            <tr>
                <td>kosta.micevski@ilogic.mk</td>
                <td><a href="skype:koki_thug?add">
                    <img src="/Content/images/about_us/skype1.png" style="border: none; width: 16px; height: 16px; margin-left: 8px;" /></a></td>
            </tr>
            <tr>
                <td>
                    <p class="info" style="margin-top: 10px;">
                        <p class="info">Phone</p>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>+389 077/849-706</p>
                </td>
                
            </tr>
            <tr>
                  <td>
                    <p>+389 070/475-591</p>
                 </td>
             </tr>
        </table>
    </div>

    <div class="content " style="width: 20%; left: 36%;">
    
       <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Filogicmacedonia&amp;width=292&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%23353331&amp;header=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:290px;" allowTransparency="true"></iframe>

    </div>

     <div class="content"  style="width: 16%; left: 72%; ">

         <table >
           <tr>
                <td>
                   <h2 style=" color: #395B75;"> Also you can Find Us </h2>  
                </td>
            </tr>
            <tr style="float:left">
                <td>
                    <a href="https://www.facebook.com/ilogicmacedonia" rel="nofollow" target="_blank"> 
                    <img class="links" src="/Content/images/about_us/facebook.png" /></a>
                </td>
                <td>
                    <a href="https://www.youtube.com/ilogicmk" rel="nofollow" target="_blank">
                        <img class="links" src="/Content/images/about_us/youtube.png" /></a>
                </td>
                <td>
                    <a href="http://www.linkedin.com/in/ilogicmk" rel="nofollow" target="_blank"> 
                        <img class="links" src="/Content/images/about_us/linkedin.png" /></a>
                </td>
            </tr>
            <tr style="float:left">
                <td>
                    <a href="https://www.twitter.com/ilogicmk" rel="nofollow" target="_blank">
                        <img class="links" src="/Content/images/about_us/twitter.png" /></a>
                </td>
                <td>
                   <a href="skype:ilogicmk?add" rel="nofollow" target="_blank">
                        <img class="links" src="/Content/images/about_us/skype.png" /> </a>
                </td>
            </tr>
          
         </table>
   
        </div>

</div>

<script type="text/javascript">
    var refreshIntervalId;
    var map;

    $("#toggle_map").toggle(function () {

        $("#toggle_map").attr("disabled", "disabled");
        hide_content();
        $("#map_container").animate({ height: 700 }, 1000, "linear", function () {
            $("#toggle_map").removeAttr("disabled");

        });

    }, function () {
        $("#toggle_map").attr("disabled", "disabled");
        $("#map_container").animate({ height: 0 }, 1000, "linear", function () {
            show_content();
            $("#toggle_map").removeAttr("disabled");

        });

    });

    function hide_content() {
        $(".content").css("display", "none");
    }
    function show_content() {
        $(".content").css("display", "block");
    }

    //$(window).resize(function () {
    //    var height = parseInt($(window).height() - 210);
    //    $("#about_us").css("height", height);

    //});


    $(document).ready(function () {
        var height = parseInt($(window).height() - 210);
        $("#about_us").css("height", height);

    });
    // Start Contact Location Google Maps

    var marker;
    var email = false;

    function loadscroll() {

        //load InitilizeMap
        if (window.addEventListener) // W3C standard
        {
            window.addEventListener('load', InitializeMap, false); // NB **not** 'onload'
        }
        else if (window.attachEvent) // Microsoft
        {
            window.attachEvent('onload', InitializeMap);
        }
    }


    function InitializeMap() {

        directionsDisplay = new google.maps.DirectionsRenderer();

        var latlng = new google.maps.LatLng(42.009137, 21.360166);

        var myOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            navigationControl: true

        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);
        google.maps.event.trigger(map, 'resize');

        marker = new google.maps.Marker
        (
            {

                position: new google.maps.LatLng(42.009137, 21.360166),
                map: map,
                title: 'Click me'

            }
        );

        var infowindow = new google.maps.InfoWindow({
            content: 'Location info: iLogic'

        });

        google.maps.event.addListener(marker, 'click', function () {
            // Calling the open method of the infoWindow 
            infowindow.open(map, marker);
        });

        directionsDisplay.setMap(map);
        //directionsDisplay.setPanel(document.getElementById("directionsPanel"));

    }

    window.onload = loadscroll();

    // End Contact Location Google Maps

</script>
