@{
    ViewBag.Title = "About_Us";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

<style>
    .info {
        font-size: 18px;
        font-family: Georgia,serif;
        font-weight: bold;
        margin-bottom: 6px;
        color: #395B75;
    }
</style>

<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>


<div id="about_us" style="background: url('/Content/images/contentImage.gif');position:relative;">

    
    <div id="map_container" style="width: 1024px;overflow:hidden;z-index:-999;height:0px;">
        <div id="map" style="width: 1024px;height:400px;position: fixed;overflow: hidden;">
        </div>
    </div>
    <button style="position:absolute;top:32px;right:0px" type="button" id="toggle_map" value="Show Map">Show Map</button>

    <div style="width: 341px; float: left;">
        <table style="line-height: 1.2em; margin: 70px 0px 0px 70px; text-align: left">

            <tr>
                <td>
                    <p class="info">Address</p>
                </td>
            </tr>
            <tr>
                <td>Ul. 4-ti Juli 1/2/2</td>
            </tr>
            <tr>
                <td>1000 Skopje</td>
            </tr>
            <tr>
                <td>R.Macedonia</td>
            </tr>

        </table>
        <table style="line-height: 1.2em; margin: 10px 0px 0px 70px; text-align: left">
            <tr>
                <td>
                    <p class="info">Contact</p>
                </td>
            </tr>
            <tr>
                <td>tomislav.shestakov@ilogic.mk</td>
                <td><a href="skype:tomikrama?add">
                    <img src="/Content/images/about_us/skype1.png" style="border: none; width: 16px; height: 16px; margin-left: 8px;" /></a></td>
            </tr>
            <tr>
                <td>kosta.micevski@ilogic.mk</td>
                <td><a href="skype:koki_thug?add">
                    <img src="/Content/images/about_us/skype1.png" style="border: none; width: 16px; height: 16px; margin-left: 8px;" /></a></td>
            </tr>
            <tr>
                <td>
                    <p class="info" style="margin-top: 10px;">
                        <p class="info">Phone</p>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>+389.2044045</p>
                </td>
            </tr>
        </table>
    </div>

    <div style="width: 341px; float: left;">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FiLogic%2F124722254377442&amp;width=292&amp;height=290&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=true" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 292px; height: 290px; margin-top: 16px" allowtransparency="true"></iframe>

        <div style="float: left; width: 300px">
            <h3>Also you can Find Us</h3>
            <ul style="margin-top: 20px;">
                <li style="float: left"><a href="https://www.facebook.com/ilogicmacedonia" rel="nofollow" target="_blank">
                    <img src="/Content/images/about_us/facebook.png" />
                </a></li>
                <li style="float: left"><a href="https://www.youtube.com/ilogicmk" rel="nofollow" target="_blank">
                    <img src="/Content/images/about_us/youtube.png" />
                </a></li>
                <li style="float: left"><a href="http://www.linkedin.com/in/ilogicmk" rel="nofollow" target="_blank">
                    <img src="/Content/images/about_us/linkedin.png" />
                </a></li>
                <li style="float: left"><a href="https://www.twitter.com/ilogicmk" rel="nofollow" target="_blank">
                    <img src="/Content/images/about_us/twitter.png" />
                </a></li>
                <li style="float: left"><a href="skype:ilogicmk?add" rel="nofollow" target="_blank">
                    <img src="/Content/images/about_us/skype.png" />
                </a></li>

            </ul>

        </div>

    </div>

</div>

<script type="text/javascript">
    var refreshIntervalId;
    var map;

    $("#toggle_map").toggle(function () {
        $("#map_container").animate({ height: 400 }, 1000, "linear");
    }, function () {
        $("#map_container").animate({ height: 0 }, 1000, "linear");
    });

    $(window).resize(function () {
        var height = parseInt($(window).height() - 210);
        $("#about_us").css("height", height);

    });


    $(document).ready(function () {
        var height = parseInt($(window).height() - 210);
        $("#about_us").css("height", height);

    });
    // Start Contact Location Google Maps

    var marker;
    var email = false;

    function open_map() {

    }


    function loadscroll() {

        //load InitilizeMap
        if (window.addEventListener) // W3C standard
        {
            window.addEventListener('load', InitializeMap, false); // NB **not** 'onload'
        }
        else if (window.attachEvent) // Microsoft
        {
            window.attachEvent('onload', InitializeMap);
        }
    }


    function InitializeMap() {

        directionsDisplay = new google.maps.DirectionsRenderer();

        var latlng = new google.maps.LatLng(41.935595, 21.525618);

        var myOptions = {
            zoom: 15,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            navigationControl: true

        };
        map = new google.maps.Map(document.getElementById("map"), myOptions);
        google.maps.event.trigger(map, 'resize');

        marker = new google.maps.Marker
        (
            {

                position: new google.maps.LatLng(41.935595, 21.525618),
                map: map,
                title: 'Click me'

            }
        );

        var infowindow = new google.maps.InfoWindow({
            content: 'Location info: iLogic'

        });

        google.maps.event.addListener(marker, 'click', function () {
            // Calling the open method of the infoWindow 
            infowindow.open(map, marker);
        });

        directionsDisplay.setMap(map);
        //directionsDisplay.setPanel(document.getElementById("directionsPanel"));

    }

    window.onload = loadscroll();

    // End Contact Location Google Maps

</script>
