@{
    ViewBag.Title = "Asp";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<style>
    body {
       /*background: url("/Content/images/asp/asp_body.gif");*/
       background: url('/Content/images/asp/asp_content.gif');
    }
    /*p:first-letter {
        color: red;
    }*/

    .ui-dialog.ui-widget-content {
        background: #007acc;
        z-index: 0;
    }

    .ui-corner-all {
        border-radius: 0px 0px;
    }
    #console
    {
        background:#1e1e1e;
    }
    .ui-dialog-titlebar {
        background: #2d2d30;
        border: 0px;
        padding-bottom: 20px !important;
    }

    .ui-dialog-title {
        color: gray;
        font-size: 12px;
        margin-left: 35px !important;
        padding-top: 4px;
    }

    .ui-dialog-content.ui-widget-content {
        border-left: 13px solid #333333;
        border-right: 13px solid #333333;
        border-bottom: 13px solid #333333;
    }

    .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close {
        position: absolute;
        top: 20px;
        right: 15px;
        background: transparent !important;
        border: 0 !important;
    }

    .visual_logo {
        width: 20px;
        height: 20px;
        background: url('/Content/images/visual_icon.png');
        display: block;
        position: absolute;
    }

    .visual_buttons {
        margin-left: 30px;
        position: absolute;
        left: 225px;
        top: 25px;
    }

    .buttons {
        float: left;
        display: block;
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

    #edit_cons_text {
        position: absolute;
        top: 23px;
        right: 224px;
        color: white;
        font-size: 9px;
        cursor: pointer;
        width: 15px;
        height: 15px;
        background: url('/Content/images/edit.png');
        background-repeat: no-repeat;
        background-size: 15px 15px;
        text-indent: 16px;
        padding-top: 3px;
        display: none;
    }

    input:focus {
        outline: none;
        border-color: #007acc;
        box-shadow: 0 0 10px #007acc;
    }
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
        z-index:1;
    }

    .mask li {

        list-style: square outside;
    margin-left: 20px;
    text-align: left;
    color: rgba(255, 255, 255, 0.44);
    cursor: pointer;
   
    }
    a:hover {
 cursor:pointer;
}

</style>
<div id="aspNet" style="width: 100%">
    <div id="consoleSpace" style="float: left; width: 600px; height: 100%">
        <div id="console" title="Create Album" style="overflow: hidden; min-height: 173px !important"></div>
    </div>
   <div id="logoImages" style="float: left; width: 424px; ">
  <table style="margin-top:16px;width:420px;">
            <tr>
                <td  style="width:200px;height:150px;">
                   <div class="view view-img">
                         <a> <img style="margin:auto;" src="/Content/images/asp/sqlserver_logo.png" /></a>
                         <div class="mask">
                            <ul>
                                <li><p style="line-height: 17px;">Better tooling support, especially for .NET @*(Entity Framework + other ORM support is better)*@</p></li>
                                 <li><p>SQL Server is the most secure of any of the major database platforms.</p></li>
                                <li><p>SQL Server enables 1 million commands per second.</p></li>
                            </ul>
                         </div>
                    </div>
                </td>
                <td style="width:200px;height:150px">
                     <div class="view view-img">
                       <a> <img style="margin:auto;margin-left:6px" src="/Content/images/asp/access_logo.png" /></a>
                        <div class="mask">
                         <ul>
                             <li><p>Allows for Rapid Application Development</p></li>
                             <li><p>Easily Integrates with Microsoft Office</p></li>
                             <li><p>Great for Data Entry</p></li>
                         </ul>
                          </div>
                    </div>
                </td>
            </tr>
            <tr>
                  <td style="width:200px;height:150px">
                       <div class="view view-img">
                        <a><img style="margin:auto;margin-top: 30px;" src="/Content/images/asp/oracle_logo.png" /></a>
                          <div class="mask">
                             <ul>
                                 <li><p>Good for lots of db usage</p></li>
                                 <li><p>Good with memory leaks and handles multiple threads</p></li>
                                 <li><p>Easy database backup</p></li>
                             </ul>
                        </div>
                    </div>
                </td>
                <td style="width:200px;height:150px">
                     <div class="view view-img">
                     <a><img style="margin:auto;margin-top: 30px;" src="/Content/images/asp/jquery_logo.png" /></a>
                        <div class="mask">
                              <ul>
                                  <li><p>Has strong logic and workflow and is easily extensible</p></li>
                                  <li><p>The core file’s packed size is small</p></li>
                              </ul>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                 <td style="width:200px;height:150px">
                     <div class="view view-img">
                     <a><img style="margin:auto" src="/Content/images/asp/html5.png" /></a>
                        <div class="mask">
                              <ul>
                                  <li><p>Video and Audio Support</p></li>
                                  <li><p>More Intelligent Storage</p></li>
                                  <li><p>Across-Browser Support</p></li>  
                              </ul>
                        </div>
                    </div>
                </td>
                <td style="width:200px;height:150px">
                     <div class="view view-img">
                     <a><img style="margin:auto" src="/Content/images/asp/css3.png" /></a>
                        <div class="mask">
                             <ul>
                                 <li><p>Device-responsive pages</p></li>
                                 <li><p>Easier to maintain</p></li>
                                 <li><p>Cleaner code</p></li>
                             </ul>
                        </div>
                    </div>
                </td>
            </tr>
             
        
        </table>
    </div>
</div>



<script type="text/javascript">


    $(window).resize(function () {
        var height = parseInt($(window).height() -210);
        $("#aspNet").css("height", height);      
    });



    $(document).ready(function () {
        var height = parseInt($(window).height() -210);
        $("#aspNet").css("height", height);

        //$('#bottom-row').css('background', 'rgb(30,30,30)');
        //$('#top-row').css('background', 'rgb(30,30,30)');
      //  document.body.style.background = "#282828";

    });

    $(function () {
        var dialog = $('#console').dialog({
            autoOpen: true,
            width: 540,
            height: 249,
            resizable: false,
            title: 'Microsoft Visual Studio',
            modal: false,
            open: function (event, ui) {
                //Load the CreateAlbumPartial action which will return 
                // the partial view _CreateAlbumPartial
                $(this).load("@Url.Action("PartialConsoleWindow", "Site")");
              },
              //buttons: {
              //    "Close": function () {
              //        $(this).dialog("close");
              //    }
              //}
        });
       
          $(".ui-dialog-titlebar").prepend("<div class='visual_logo'></div>");
          $(".ui-dialog-titlebar").prepend("<div class='visual_buttons'>" +
            "<div class='buttons' onclick='debug();' style='background:url(/Content/images/debug.png) no-repeat'></div>" +
            "<div class='buttons' style='background:url(/Content/images/pause.png) no-repeat'></div>" +
            "<div class='buttons' onclick='stop();' style='background:url(/Content/images/stop.png) no-repeat'></div>" +
          "</div>");
          $(".ui-dialog-titlebar").prepend("<div id='edit_cons_text'>Edit</div>")

          dialog.parent().find('a').find('span').attr('class', 'ui-icon ui-icon-minus');
          dialog.parent().draggable({
              containment: '#aspNet',
              opacity: 0.70
          });

          var target = $("#aspNet");
          $("#console").dialog("widget").position({
              my: 'left+30 top+100',
              at: 'left top',
              of: target
          });

          $('#consoleSpace').append(dialog.parent());
          //$('#my-button').click(function () {
          //    $('#dialog').dialog('open');
          //});

          $("#edit_cons_text").on("click", function () {
              if ($('#changeable_text').css("display") == "none")
                  $('#changeable_text').animate({ width: 100 }, 1000);
              else {
                  $('#changeable_text').animate({ width: 0 }, 1000).hide(0, function () {
                      $("#changeable_text").css("width", "0px");
                  });
              }
          });
      });

</script>
