@{
    ViewBag.Title = "Electronics";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<style>
    #electronics {
        /*background-color: white;*/
    }
     body {
       background: url("/Content/images/micro/electronic_content.gif");
    }
      .mask li {

        list-style: square outside;
    margin-left: 20px;
    text-align: left;
    color: rgba(0, 0, 0, 0.43);
    cursor:pointer;
    font-weight:bold;

    }
       a:hover {
                         cursor:pointer;
                  }
       .view-img p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   /*color: #333;*/
   color:black;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
</style>

<div id="electronics" style="width: 100%;/*background:url('/Content/images/micro/electronic_content.gif');*/">

@*    LEV DIV*@

    <div class="icons" style="width: 200px; float: left">

        <div id="logoImages_left" style="float: left; width: 200px;">

        <table style="margin-top:46px;width:200px;">

            <tr>
                <td style="width:200px;height:150px">
                    <div class="view view-img">
                        <a><img style="margin-left: 4px;" src="/Content/images/micro/avrstudio_logo.png" /></a>
                         <div class="mask">
                            <ol>
                                <li><p>Cost: At the moment, the very lowest-price microcontroller available.</p></li>
                                 <li><p>Speed: Most AVRs are capable of 20MHz.</p></li>
                                <li><p>Peripherals: Many Atmel AVR µcontrollers, have a built-in 10 bit ADC.</p></li>
                            </ol>
                         </div>
                    </div>
                </td>
           </tr>

           <tr>
                <td style="width:200px;height:150px">
                     <div class="view view-img">
                        <a><img style="margin-left: 23px;" src="/Content/images/micro/arduino_logo.png" /></a>
                        <div class="mask">
                         <ol>
                             <li><p>Inexpensive.</p></li>
                             <li><p>Cross-platform.</p></li>
                             <li><p>Simple, clear programming environment.</p></li>
                         </ol>
                          </div>
                    </div>
                </td>
           </tr>

           <tr>
                  <td style="width:200px;height:150px">
                       <div class="view view-img">
                        <a><img style="margin-left: -19px;" src="/Content/images/micro/assembler.png" /></a>
                          <div class="mask">
                             <ol>
                                 <li><p>Assembly language is a symbolic representation of a processor's native code. Using machine code allows the programmer to control precisely what the processor does.</p></li>
                             </ol>
                        </div>
                    </div>
                </td>
             
           </tr>
        
        </table>
    </div>
    
 </div>

    <a href="javascript:void(0);"><div onclick="redirectProducts()" class="middle" style="width: 624px; float: left">
        <div style="margin: auto; padding: 0; width: 520px;">
            <img style="margin: auto;" src="~/Content/images/micro/underConstruction.png" />
        </div>
    </div></a>

 @*   DESEN DIV *@

    <div class="icons" style="width: 200px; float: right">

         <div id="logoImages_right" style="float: left; width: 200px;">

        <table style=" margin-top:16px; width:200px;">

            <tr>
           <td style="width:200px;height:150px">
                     <div class="view view-img">
                    <a><img style=" margin-right: 5px; margin-top: 30px;" src="/Content/images/micro/microchip_logo.png" /></a>
                        <div class="mask">
                              <ol>
                                  <li><p>PIC Microchip provides solutions for the entire performance range of 8-bit, 16-bit, and 32-bit microcontrollers, with a powerful architecture and flexible memory technologies.</p></li>
                              </ol>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                 <td style="width:200px;height:150px">
                     <div class="view view-img">
                     <a><img style="margin-top: 13px;" src="/Content/images/micro/mikro_bc.png" /></a>
                        <div class="mask">
                              <ol>
                                  <li><p>mikroBasic PRO (uses Basic source code) for PIC provides plenty of examples making it easy for you to go quickly.</p></li>
                                  <li><p>In mikroC PRO you can write your C source code using the built-in Code Editor.</p></li>
                              </ol>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td style="width:200px;height:150px">
                     <div class="view view-img">
                     <a><img style="margin:auto" src="/Content/images/micro/OshonSoft_logo.png" /></a>
                        <div class="mask">
                             <ol>
                                 <li><p>Oshon Software for AVR, PIC, PIC18, PIC10F, Z80,  & 8085. Simulator IDEs, Basic compiler, assembler, disassembler, and debugger.</p></li>
                             </ol>
                        </div>
                    </div>
                </td>
            </tr>

        </table>

    </div>
     </div>
</div>


<script type="text/javascript">


    $(window).resize(function () {
        var height = parseInt($(window).height() - 210);
        $("#electronics").css("height", height);
        $(".icons").css("height", height);
        $(".middle").css("height", height);
    });
    $(document).ready(function () {
        var height = parseInt($(window).height() - 210);
        $("#electronics").css("height", height);
        $("html").css("height", height);
        $(".icons").css("height", height);
        $(".middle").css("height", height);
        $('#bottom-row').css('background', 'url("/Content/images/micro/micro_bottom_top.gif")');
        $('#top-row').css('background', 'url("/Content/images/micro/micro_bottom_top.gif")');
    });
</script>
