@{
    ViewBag.Title = "Electronics";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<style>
    #electronics {
        /*background-color: white;*/
    }
     body {
       background: url("/Content/images/Micro_body.gif");
    }
</style>
<div id="electronics" style="width: 100%;background:url('/Content/images/Electronic_content.gif');">
    <div class="icons" style="width: 200px; float: left"></div>
    <div class="middle" style="width: 624px; float: left">
        <div style="margin: auto; padding: 0; width: 420px;">
            <img style="margin: auto;" src="~/Content/images/in_construction.png" />
        </div>
    </div>
    <div class="icons" style="width: 200px; float: left"></div>
</div>


<script type="text/javascript">


    $(window).resize(function () {
        var height = parseInt($(window).height() - 210);
        $("#electronics").css("height", height);
        $(".icons").css("height", height);
        $(".middle").css("height", height);
    });
    $(document).ready(function () {
        var height = parseInt($(window).height() - 210);
        $("#electronics").css("height", height);
        $("html").css("height", height);
        $(".icons").css("height", height);
        $(".middle").css("height", height);
        $('#bottom-row').css('background', 'url("/Content/images/Micro_1.gif")');
        $('#top-row').css('background', 'url("/Content/images/Micro_1.gif")');
    });
</script>
