<style>
    .console_text
    {
        color:#56808b;
        font-size:12px;
    }
    #changeable_text
    {
        height: 12px;
        font-size: 10px;
        color:#7f8184;
        overflow: visible;
        border: 1px solid rgb(0, 122, 204);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background-color: rgb(45, 45, 48);
        padding: 1px 1px 1px 8px;
        margin: 5px 0px;
        width:0px;display:none;
    }
   #text_container p:first-letter {
        color:#807e6e;
    }
   
</style>

<div id="console" @*style="background-image:url('/Content/images/visual.bmp');height: 322px;width: 589px;border: 6px solid rgb(0,122,204);float:left;"*@>
    <div id="text_container">
        <p class="console_text" id="line_one" ></p>
        <p class="console_text" id="line_two"></p>
        <p class="console_text" id="line_three"></p>
        @*<div id="changeable_text" style="width:25px;height:10px;background:white;display:none"></div>*@
        <input id="changeable_text" onfocus="inputFocus(this);" onblur="inputBlur(this);" value="Enter Text" type="text"/>
        <p class="console_text" id="line_four"></p>
        <p class="console_text" id="line_five"></p>
        <p class="console_text" id="line_six"></p>
        <p class="console_text" id="line_seven"></p>
    </div>
</div>


<script>
    var timers = new Array();

    function inputFocus(i) {
        if (i.value == i.defaultValue) { i.value = ""; i.style.color = "#7f8184" }
    }
    function inputBlur(i) {
        if (i.value == "") { i.value = i.defaultValue; i.style.color = "#7f8184" }
    }

      (function ($) {
          $.fn.writeText = function (content) {
              var contentArray = content.split(""),
                  current = 0,
                  elem = this;
              setInterval(function () {
                  if (current < contentArray.length) {
                      if (current == contentArray.length - 1) {
                          elem.html(elem.html() + "<span style='color:#807e6e'>" + contentArray[current++] + "</span>");
                      } else {
                          elem.html(elem.html() + contentArray[current++]);
                      }
                  }
              }, 70);
              if (content == "</html>")
                  $("#edit_cons_text").css("display", "block");
          };

      })(jQuery);

      var tag_lines_time = [["#line_one", "<html>", 1], ["#line_two", "<body>", 2], ["#line_three", "<p>", 3], ["#line_four", "</p>", 4], ["#line_five", "</html>", 5]];

      function addOnTimer(t_id,t_line,i)
      {
          var timer = setInterval(function () {
              $(t_id).writeText(t_line);
              clearInterval(timer);

          }, i * 1000);
          //put timers in array so we can reset them
          timers.push(timer);

      }
      for (i = 0; i < tag_lines_time.length; i++) {
          addOnTimer(tag_lines_time[i][0], tag_lines_time[i][1], tag_lines_time[i][2]);
      }
      function debug() {
          var entered_text = "";
          if ($("#changeable_text").val() != "Enter Text")
              entered_text = $("#changeable_text").val();
          $("#text_container").empty();
          clear_timers();
          $("#edit_cons_text").css("display", "none");
          $("#text_container").append("<span id='new_text' class='console_text'>Your entered text is: " + entered_text + "</span>");
          $("#new_text").fadeIn("slow");
      }
      function stop() {
          $.ajax({
              type: "GET",
              url: '@Url.Action("PartialConsoleWindow", "Site")',
              data: {},
              success: function (response) {
                  //clear timers
                  clear_timers();

                  $("#edit_cons_text").css("display", "none");
                  $("#console").html('');
                  $("#console").html(response);
              }
          });
      }
      function clear_timers() {
          for (var i = 0; i < timers.length; i++) {
              clearTimeout(timers[i]);
          }
      }

      $("#changeable_text").keyup(function (e) {
          var code = e.which; // recommended to use e.which, it's normalized across browsers
          if (code == 13) e.preventDefault();
          if (code == 13) {
              debug();
          } // missing closing if brace
      });

</script>