
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.tools.min.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/dropdown/dropdown.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/dropdown/flags.css")" type="text/css" />
<link rel="stylesheet" href="@Url.Content("~/Content/dropdown/skin2.css")" type="text/css" />
<style>
  
/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
.scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;
    /*width: 790px;*/
    height:100px;
    width: 899px;
    /* custom decorations */
}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}
/*or .items div*/
.items a {
    float: left;
    width: 163px;
    display: block;
    height: 93px;
    line-height: 93px;
    text-align: center;
    background: url("/Content/images/contentImage.gif");
    margin-top: 3px;
    padding: 0px;
    background-color: transparent;
    position: relative;
    margin-left: 46px;
    margin-right: 6px;
}

/* single scrollable item */
.scrollable img {
    /*float:left;
    margin:20px 5px 20px 21px;
    background-color:#fff;
    padding:2px;
    border:1px solid #ccc;
    width:100px;
    height:75px;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;*/
}

/* active item */
.scrollable .active {
    border:2px solid #000;
    position:relative;
    cursor:default;
}

/* this makes it possible to add next button beside scrollable */
.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
    background:url("/Content/images/navbuttons.png") no-repeat;
    display:block;
    width:30px;
    height:22px;
    float:left;
    margin:0px 0px;
    cursor:pointer;
    font-size:1px;
    position: absolute;
    z-index: 10000;
}

/* right */
a.right { background-position: -16px -22px; clear:right; margin-right: 0px;position: absolute;right: 0;top: 39px;}
a.right:hover { background-position: -16px -44px; }
a.right:active { background-position:-16px 1px; }


/* left */
a.left { margin-left: 0px;position: absolute;left: 0;top: 39px; background-position: 14px -22px; }
a.left:hover  { background-position: 14px -44px; }
a.left:active {  background-position:14px 1px; }

/* up and down */
a.up, a.down  {
    background:url(/media/img/scrollable/arrow/vert_large.png) no-repeat;
    float: none;
    margin: 10px 50px;
}

/* up */
a.up:hover { background-position:-30px 0; }
a.up:active { background-position:-60px 0; }

/* down */
a.down { background-position: 0 -30px; }
a.down:hover { background-position:-30px -30px; }
a.down:active { background-position:-60px -30px; }


/* disabled navigational button */
a.disabled {
    visibility:hidden !important;
}
    .thumbStyle {
        line-height: 93px;
        text-align: center;
        margin-left: 10px;
        margin-top: 10px;
        border: 1px solid gray;
        box-shadow: 1px 1px 10px gray;
        width: 100px;
        height: 93px;
    }
    .items p {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 164px;
        background: #444;
        height: 15px;
        line-height: 15px;
        color: white;
        opacity: 0.8;
        font-family: Consolas;
        font-size: 13px;
    }
    #productDescription {
        width: 270px;
        min-height:300px;
        margin-bottom: 10px;
         margin-top: 10px;
         margin-left: 15px;
         text-align: left;
         font-family: Consolas;
         font-size: 15px;
         -moz-user-select: text;
         -khtml-user-select: text;
         -webkit-user-select: text;
         -o-user-select: text;
         user-select: text;
    }
    #productDescription ul {
        list-style: square !important;
        margin-left: 16px;
    }

    #product_priceContainer {
        color: white;
        width: 186px;
        margin-left: 87px;
        height: 32px;
        margin-bottom: 10px;
        display:none;
    }
        #product_priceContainer #currency_container {
            float: left;
            display: table;
            color:black;margin-right: 97px;
        }
        #product_priceContainer #price_container {
           float: left;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
            display: table;
            height: 31px;
            text-align: center;
            width: 70px;
            background: rgb(53, 51, 51);
        }
    #currency_container p,#price_container p {
        display: table-cell;vertical-align: middle;
    }
    .ddTitle.borderRadiusTp {
        width: 97px;
    }
    .ddChild.ddchild_.border.shadow {
        width: 97px;
    }

  #currency_container:hover { cursor: progress }

</style>

<div id="products" style="width: 100%;">
    <div id="thumbs" style="width: 115px; float: left; margin-top: 40px; max-height: 464px;">
    </div>
    <div id="mainPictures" style="width: 600px; float: left; text-align: center; margin-top: 40px;">
        <img id="loading" style="margin-top: 25%; background-repeat: no-repeat no-repeat;" src="/Content/images/loader.gif" />
    </div>
    <div id="allproductDescription" style="min-height: 388px;width: 300px;  float: left; margin-top: 40px; border: 1px solid gray; box-shadow: 1px 1px 10px; text-align: center;background: url('/Content/images/contentImage.gif');">
        <div style="border: 1px solid gray; background: rgb(53, 51, 51); text-align: center; color: white; height: 30px; line-height: 30px;font-family: Consolas;
font-size: 17px;">
            <p>Description</p>
        </div>
        <div id="productDescription">
        </div>
        <div id="product_priceContainer">

            <div id="currency_container">
                <select id="currency_dropdown" style="cursor:pointer;">
                    <option value="0" selected="selected" data-image="/Content/images/currencies/euro.gif">EUR</option>
                    <option value="1" data-image="/Content/images/currencies/mkd.png">MKD</option>
                    <option value="2" data-image="/Content/images/currencies/usd.gif">USD</option>
                </select>
            </div>
            <div id="price_container">
               
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

    var old_currency = "EUR";
    var currency_selected = "EUR";

    $(document).ready(function (e) {
        $("#currency_dropdown").msDropDown();
    });

    $("#currency_dropdown").change(function () {

        switch ($("#currency_dropdown").val()) {
            case "0":
                currency_selected = "EUR";
                break;
            case "1":
                currency_selected = "MKD";
                break;
            case "2":
                currency_selected = "USD";
                break;
        }

        convert_price(old_currency, currency_selected, parseFloat(parseFloat($("#price_container").text()).toFixed(2)));
        
    });

    //get the latest value before changing the currency
    $("#currency_dropdown").click(function () {
        switch ($("#currency_dropdown").val())
        {
            case "0":
                old_currency = "EUR";
                break;
            case "1":
                old_currency = "MKD";
                break;
            case "2":
                old_currency = "USD";
                break;
        }
    });

    function preloader() {
        $("#top-row-items").empty();
        var logo = "<a href='javascript:void(0);'><div id='logo' onclick='redirectAsp()' class='mouse_hover' style='float: left; position: relative; width: 115px; height: 100px; border-right: 1px solid black; text-align: center;'></div></a>";
        var closeDiv = "</div>";
        var productsDiv = "<div class='div2' style='float: left; width: 900px; height: 100px;'>";
        var scrollItems = "<div class='scrollable' id='navigator'><a class='prev browse left'></a><div class='items'></div><a class='next browse right'></a></div>";
        $("#top-row-items").append(logo + productsDiv + scrollItems + closeDiv);
        var height = parseInt($(window).height() - 210);
        $("#products").css("height", height);
        $("#thumbs").css("height", height);
        $("#img").css("height", height);
        $("#text").css("height", height);
        $.ajax({
            url: "getProducts",
            type: "GET",
            data: {},
            success: function (result) {
                $("#thumbs").empty();
                $("#productDescription").empty();
                for (var i = 1; i <= result[0]; i++) {
                    var productName = result[i].split('@@')[1];
                    var topRowThumb = result[i].split('@@')[2];
                    var thumbItems = result[i].split('@@')[3].split("#").length;
                    var mainPicture = result[i].split('@@')[4].split("#")[0];//set main picture for that product; [0] set the firt picture to be main picture
                    var description = result[i].split('@@')[5];
                    var price = result[i].split('@@')[6];

                    if (i == 1)//set the main load project 
                    {
                        $(".items").append('<a class="mouse_hover" href="javascript:void(0);"><div onclick="changeProduct(\'' + productName + '\');" ><img style="vertical-align: middle;" src=' + topRowThumb + '><p>' + productName + '</p></img></div></a>');
                        for (var j = 0; j < thumbItems; j++) {
                            var thumbItem = result[i].split('@@')[3].split("#")[j];
                            $("#thumbs").append('<a href="javascript:void(0);"><div style="background-image: url(/Content/images/contentImage.gif);" class="thumbStyle" onclick="changeMainPicture(\'' + result[i].split('@@')[4].split("#")[j] + '\');"><img style="vertical-align: middle;" id=' + j + ' src=' + thumbItem + ' /></div></a>');
                            $("#" + j + "").fadeIn((j + 1) * 1000);
                        }
                        var img = new Image();
                        img.src = mainPicture;
                        $(img).load(function () {
                            $("#mainPictures img").attr("src", img.src);
                            $("#mainPictures img").css('margin-top', '0px');
                            $("#mainPictures img").fadeIn(500);

                        });
                        $("#productDescription").append('<p>' + description + '</p>');
                        if (price != "/") {
                            show_price(price);
                        }
                    }
                    if (i > 1) {
                        $(".items").append('<a class="mouse_hover" href="javascript:void(0);"><div onclick="changeProduct(\'' + productName + '\');"><img style="vertical-align: middle;" src=' + topRowThumb + '><p>' + productName + '</p></img></div></a>');
                    }
                }
                //$(".scrollable").scrollable();
                // $(".scrollable").scrollable({ circular: true });
                $('.scrollable').scrollable({
                    items: '.items',
                    circular: true,
                    itemsPerFrame: 4
                })
                //    .autoscroll({
                //    autoplay: true,
                //    interval: 5000
                //});
            }
        });
    }

    function changeProduct(e) {
        $("#mainPictures img").css('margin-top', '25%');
        $("#mainPictures img").attr("src", "/Content/images/loader.gif");
        hide_price();
        $.ajax({
            url: "changeProduct",
            type: "GET",
            data: { productName: e },
            success: function (result) {

                for (var i = 1; i <= result[0]; i++) {
                    var productName = result[i].split('@@')[1];
                    var topRowThumb = result[i].split('@@')[2];
                    var thumbItems = result[i].split('@@')[3].split("#").length;
                    var mainPicture = result[i].split('@@')[4].split("#")[0];//set main picture for that product; [0] set the firt picture to be main picture
                    var description = result[i].split('@@')[5];
                    var price = result[i].split('@@')[6];
                    $("#thumbs").empty();
                    for (var j = 0; j < thumbItems; j++) {
                        var thumbItem = result[i].split('@@')[3].split("#")[j];
                        $("#thumbs").append('<a href="javascript:void(0);"><div style="background-image: url(/Content/images/contentImage.gif);" class="thumbStyle" onclick="changeMainPicture(\'' + result[i].split('@@')[4].split("#")[j] + '\');"><img style="vertical-align: middle;" id=' + j + ' src=' + thumbItem + ' /></div></a>');
                        $("#" + j + "").fadeIn((j + 1) * 1000);
                    }

                    $("#productDescription").empty();
                    var img = new Image();
                    img.src = mainPicture;
                    $(img).load(function () {
                        $("#mainPictures img").attr("src", img.src);
                        $("#mainPictures img").css('margin-top', '0px');
                        $("#mainPictures img").fadeIn(500);
                    });
                    $("#productDescription").append('<p>' + description + '</p>');
                    if (price != "/") {
                        debugger;
                        project_change_convert_price(old_currency, currency_selected, parseFloat(parseFloat(price).toFixed(2)));
                    }
                }
            }
        });
    }
    function changeMainPicture(e) {
        $("#mainPictures img").css('margin-top', '25%');
        $("#mainPictures img").attr("src", "/Content/images/loader.gif");
        var img = new Image();
        img.src = e;
        $(img).load(function () {
            $("#mainPictures img").attr("src", img.src);
            $("#mainPictures img").css('margin-top', '0px');
            $("#mainPictures img").fadeIn(500);
        });
    }

    function show_price(e) {
        $("#product_priceContainer").css("display", "block");
        //$("#price_container").append("<p>" + e + "</p>");
        convert_price("MKD", "EUR", parseFloat(e).toFixed(2));
    }
    function hide_price() {
        $("#product_priceContainer").css("display", "none");
        $("#price_container").empty();
    }

    function convert_price(old_cur, new_cur, cur_price) {
        debugger;
        var url = 'http://rate-exchange.appspot.com/currency?from=' + old_cur + '&to=' + new_cur;
        var calc_price = 0;
        $.get(url, function (data) {
            debugger;
            calc_price = cur_price * data.rate;
            set_new_price(calc_price);
        }, "jsonp");
    }

    function project_change_convert_price(old_cur, new_cur, cur_price) {
        debugger;
        if (new_cur != "MKD") {
            var url = 'http://rate-exchange.appspot.com/currency?from=MKD' + '&to=' + new_cur;
            var calc_price = 0;
            $.get(url, function (data) {
                debugger;
                calc_price = cur_price * data.rate;
                set_new_price(calc_price);
            }, "jsonp");
        }
        else {
            set_new_price(cur_price);
        }
    }

    function set_new_price(price) {
        debugger;
        $("#product_priceContainer").css("display", "block");
        $("#price_container").empty(); 
        //$("#price_container").append("<p>" + parseFloat(price).toFixed(2) + "</p>");
        $("#price_container").append("<p>" + Math.round(price) + "</p>");
    }

    window.onload = preloader;
</script>
