@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.tools.min.js")" type="text/javascript"></script>
<style>
  
/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
  */
.scrollable {

    /* required settings */
    position:relative;
    overflow:hidden;
    /*width: 790px;*/
    height:100px;
    width: 899px;
    /* custom decorations */
}

/*
   root element for scrollable items. Must be absolutely positioned
   and it should have a extremely large width to accomodate scrollable
   items.  it's enough that you set the width and height for the root
   element and not for this element.
*/
.scrollable .items {
    /* this cannot be too large */
    width:20000em;
    position:absolute;
    clear:both;
}
/*or .items div*/
.items a {
    float: left;
    width: 93px;
    display: block;
    height: 93px;
    margin-top: 3px;
    padding: 0px;
    position: relative;
    margin-left: 46px;
    margin-right: 6px;
}

/* single scrollable item */
.scrollable img {
    /*float:left;
    margin:20px 5px 20px 21px;
    background-color:#fff;
    padding:2px;
    border:1px solid #ccc;
    width:100px;
    height:75px;

    -moz-border-radius:4px;
    -webkit-border-radius:4px;*/
}

/* active item */
.scrollable .active {
    border:2px solid #000;
    position:relative;
    cursor:default;
}

/* this makes it possible to add next button beside scrollable */
.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
    background:url("/Content/images/navbuttons.png") no-repeat;
    display:block;
    width:30px;
    height:22px;
    float:left;
    margin:0px 0px;
    cursor:pointer;
    font-size:1px;
    position: absolute;
    z-index: 10000;
}

/* right */
a.right { background-position: -16px -22px; clear:right; margin-right: 0px;position: absolute;right: 0;top: 39px;}
a.right:hover { background-position: -16px -44px; }
a.right:active { background-position:-16px 1px; }


/* left */
a.left { margin-left: 0px;position: absolute;left: 0;top: 39px; background-position: 14px -22px; }
a.left:hover  { background-position: 14px -44px; }
a.left:active {  background-position:14px 1px; }

/* up and down */
a.up, a.down  {
    background:url(/media/img/scrollable/arrow/vert_large.png) no-repeat;
    float: none;
    margin: 10px 50px;
}

/* up */
a.up:hover { background-position:-30px 0; }
a.up:active { background-position:-60px 0; }

/* down */
a.down { background-position: 0 -30px; }
a.down:hover { background-position:-30px -30px; }
a.down:active { background-position:-60px -30px; }


/* disabled navigational button */
a.disabled {
    visibility:hidden !important;
}

    #thumbs_container {
        width: 115px;
        float: left;
        height: 100%;
        position: relative;
    }

        #thumbs_container #thumbs {
            width: 100%;
            height: 100%;
            position: absolute;
            margin-top: 40px;
            /*overflow: hidden;*/
        }
    .logos {
        margin-top: 12px;
    }
    .thumbStyle {
        margin: 10px 10px 0 10px;
        border: 1px solid gray;
        -webkit-box-shadow: 1px 1px 10px gray;
        box-shadow: 1px 1px 10px gray;
        width: 93px;
        height: 93px;
        -moz-background-size: 93px 93px;
        -o-background-size: 93px 93px;
        -webkit-background-size: 93px 93px;
        background-size: 93px 93px !important;
        background-repeat: no-repeat;
    }
    #img_container img {
        max-height:400px;
    }
    .description {
        height: 300px;
        margin-top: 50px;
        width: 300px;
        border: 1px solid gray;
        -webkit-box-shadow: 1px 1px 10px;
        box-shadow: 1px 1px 10px;
        text-align: center;
    }
    .thumb_mask {
        width: 93px;
        height: 93px;
        background: url("/Content/images/top_bottom_background.gif");
        -ms-word-wrap: break-word;
        word-wrap: break-word;
        display:table;
    }
        .thumb_mask:hover {
            -moz-transition: all 1s linear;
            -o-transition: all 1s linear;
            -webkit-transition: all 1s linear;
            transition: all 1s linear;
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 0;
        }
    .thumb_text {
        color: white;
        font-size: 20px;
        text-align: center;
        /*padding:24px 5px 0 5px;*/
        display: table-cell;
        vertical-align: middle;
        font-family:Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    }
</style>

<div id="products" style="width: 100%; background: url('/Content/images/contentImage.gif');">
    <div id="thumbs_container">
        <div id="thumbs">
        </div>
    </div>

    <div id="img_container" style="width: 580px; float: left; text-align: center; height: 100%">
        <img id="loading" style="margin-top: 25%; background-repeat: no-repeat no-repeat;" src="/Content/images/loader.gif" />
    </div>

    <div id="text" style="width: 300px; float: left; height: 100%">
        <div class="description">
            <div style="border: 1px solid gray; background: rgb(53, 51, 51); text-align: center; color: white; height: 30px; line-height: 30px;">
                <p>Description</p>
            </div>
            <div id="productDescription" style="width: 300px; height: 300px; margin-top: 10px;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var project_ids = new Array();
    var project_screenshots = new Array();
    var project_counter = new Array();
    var project_description = new Array();
    var thumb_description = new Array();
    var current_project = "";

    $(window).resize(function () {
        var height = parseInt($(window).height() - 210);
        $("#products").css("height", height);
    });

    $(document).ready(function () {

        $("#top-row-items").empty();
        var openLogoDiv = "<div onclick='redirectAsp()' class='mouse_hover' style='float: left; position: relative; width: 114px; height: 100px; border-right: 1px solid black; text-align: center;'>";
        var imgLogo = "<img src='/Content/images/logo.png'/>";
        var closeDiv = "</div>";
        var productsDiv = "<div class='div2' style='float: left; width: 900px; height: 100px;'>";
        var scrollItems = "<div class='scrollable' id='navigator'><a class='prev browse left'></a><div class='items'></div><a class='next browse right'></a></div>";
        $("#top-row-items").append(openLogoDiv + imgLogo + closeDiv + productsDiv + scrollItems + closeDiv);

        var height = parseInt($(window).height() - 210);
        $("#products").css("height", height);
        $("html").css("height", height);

        $.ajax({
            url: "getProjects",
            type: "GET",
            data: {},
            success: function (data) {

                project_ids = data.id;
                project_screenshots = data.img;
                project_counter = data.screen_counter;
                project_description = data.desc;
                thumb_description = data.thumb_desc;
                //debugger;
                for (b = 0; b < data.id.length; b++) {
                    $(".items").append("<a href='javascript:void(0)'><div onclick='showThumbs(" + data.id[b] + ")'>" +
                        "<img class='mouse_hover logos' src='" + data.logos[b] + "'/></div></a>");
                    if (b == 0)
                        showThumbs(data.id[b]);
                }
            }
        });

    });

    function showThumbs(e) {
        $("#thumbs").empty();
        $("#productDescription").empty();

        var which_project = project_ids.indexOf(e.toString());
        current_project = which_project;
        var project_image_count = parseInt(project_counter[which_project]);
        var thumb_desc = thumb_description[current_project].split(",");
        
        $("#productDescription").append("<p>" + project_description[which_project] + "</p>");
        //first project
        if (which_project == 0) {
            for (j = 0; j < project_image_count; j++) {
                debugger;
                var image_name = project_screenshots[j].replace(/\\/g, "/").split("/")[6].split(".")[0];
                var image_desc = "";
                for (i = 0; i < thumb_desc.length; i++) {
                    if (thumb_desc[i].split("@@")[0] == image_name)
                        image_desc = thumb_desc[i].split("@@")[1];
                }
                $("#thumbs").append("<a style='text-decoration: none;' href='javascript:void(0);'>" +
                    "<div onclick='ShowBigImage(this)' id='" + j + "' class='thumbStyle' " +
                    "style='background:url(" + project_screenshots[j].replace(/\\/g, "/") + ") center center'>"+
                    "<div class='thumb_mask'><p class='thumb_text'>" + image_desc + "</p></div></div></a>");

                //$("#" + j + "").fadeIn((j + 1) * 1000);
                if (j == 0)
                    ShowBigImage($("#" + j + ""));
            }
        }
        else {
            var how_many_img_are_skipped = 0;
            for (j = 0; j < which_project; j++) {
                how_many_img_are_skipped += parseInt(project_counter[j]);
            }
            for (z = how_many_img_are_skipped; z < project_image_count + how_many_img_are_skipped; z++) {
                $("#thumbs").append("<a style='text-decoration: none;' href='javascript:void(0);'>" +
                    "<div onclick='ShowBigImage(this)' id='" + z + "' class='thumbStyle' "+
                    "style='background:url(" + project_screenshots[z].replace(/\\/g, "/") + ") center center'>"+
                    "<div class='thumb_mask'></div></div></a>");
                //$("#" + z + "").fadeIn((z + 1) * 1000);
                if (z == how_many_img_are_skipped)
                    ShowBigImage($("#" + z + ""));
            }
        }
    }

    function ShowBigImage(e) {
        debugger;
        $("#img_container img").css('margin-top', '25%');
        $("#img_container img").attr("src", "/Content/images/loader.gif");
        var image_src = $(e).css("background-image").replace("url(", "").replace(")", "").replace("/thumbs", "");
        var img = new Image();
        img.src = image_src;
        $(img).load(function () {
            $("#img_container img").attr("src", img.src);
            $("#img_container img").css('margin-top', '50px');
            $("#img_container img").fadeIn(500);
        });
        //$("#img_container").empty();
        //$("#img_container").append("<img class='main_image' src='" + image_src + "'/>");
        //$(".main_image").fadeIn(1000);
    }

</script>

