@{
    ViewBag.Title = "Index_aspNet";
    Layout = "~/Views/Shared/SiteMaster.cshtml";
}

<div id="aspNet" style="background-color:rgb(45,45,48);width:100%">
    <div id="console" style="background-image:url('/Content/images/visual.bmp');height: 322px;width: 589px;border: 6px solid rgb(0,122,204);">
   <div id="holder" style="margin-top: 50px;margin-left: 29px;color: white;"></div>
    <div id="holder_two" style="margin-left: 29px;color: white;"></div>
        </div>
</div>



  <script type="text/javascript">

    
      $(window).resize(function () {
          var height = parseInt($(document).height() - 230);
          $("#aspNet").css("height", height);
      });



      $(document).ready(function () {
          var height=parseInt($(document).height()-230);
          $("#aspNet").css("height", height);
          $('#bottom-row').css('background', 'rgb(30,30,30)');
          $('#top-row').css('background', 'rgb(30,30,30)');
     
      (function ($) {
          $.fn.writeText = function (content) {
              var contentArray = content.split(""),
                  current = 0,
                  elem = this;
              setInterval(function () {
                  if (current < contentArray.length) {
                      elem.text(elem.text() + contentArray[current++]);
                  }
              }, 70);
          };

      })(jQuery);
      $("#holder").writeText("<html>");

      var word_two = "</html>";

      var timer = setInterval(function () {
          $("#holder_two").writeText(word_two);
          clearInterval(timer);

      }, 1000);
      $("#console").draggable();
      $("#console").draggable({ containment: "parent" });
      })

 //$(".dva").writeText(textAsp);

 //$(".tekst").writeText(textAsp);
       </script>